body {
  font-family: Roboto, sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.appSlitBlock {
  width: 49.9%;
  padding: 3%;
}
.parseResult {
  padding: 1% 5%;
  background: #eee;
  /* box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20); */
  min-height: 30vh;
}